{% extends 'auth/auth_base.html' %}

{% block header %}
<h1 class="form-signin-heading text-muted">Sign In</h1>
{% endblock %}


{% block content %}
<input type="text" name="username" class="form-control" placeholder="username" id="username" required>
<input type="password" name="password" class="form-control" placeholder="Password" id="password" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign In
</button>
<div style="display:flex; justify-content: space-between; width: 100%;">
    <a href="{{ url_for('auth.register') }}" style="color:#fff; background-color: rgba( 0, 0, 0, 0.15 );">
        Register
    </a>
    <a href="{{ url_for('auth.forgot') }}" style="color:#fff; background-color: rgba( 0, 0, 0, 0.15 );">
        Forgot?
    </a>
</div>


{% endblock %}