<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Personal Homepage - daily</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="index.html">
      <span class="d-block d-lg-none">KeunHyeok Lim</span>
      <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scrolll-trigger" href="#daily">Daily</a>
          <ul class="navbar-nav expandable-content-view">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#daily-1">일상</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#daily-2">기타</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="daily">
      <div class="w-100">
        <h2 class="mb-5">Daily</h2>
        <p>일상 사진이나 리뷰 등 올라감</p>
        <a href="#daily-1">
          <p class="mb-0">일상</p>
        </a>
        <a href="#daily-2">
          <p class="mb-0">기타</p>
        </a>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="daily-1">
      <div class="w-100">
        <h2 class="mb-5">일상</h2>
        <p>평소 IT 개발자가 되는 것 외에도 대부분의 시간을 웨이트 트레이닝을 하며 보냅니다. 어렸을 때부터 방학마다 웨이트를 즐겼으며 현재, 1주일에 4~5번씩 2시간 정도를 보냅니다. 사실 몸매 가꾸는 것을 목적으로 하기 보단, 워낙 식탐이 많기 때문에 칼로리 소모를 위해 하고 있습니다.</p>
        <p class="mb-0">그 외 나머지 시간은 음악, 영화 감상을 하며 보냅니다. 저는 대학교 1~2학년 때 밴드 보컬로 활동한 적이 있고, 집 앞 슈퍼만큼 적은 거리를 다닐 때도 항상 이어폰을 꽂고 음악을 듣습니다. 영화는 마블영화와 같이 공상과학, 액션 등이 결합되어 시각적인 효과가 강한 장르를 좋아합니다.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="daily-2">
      <div class="w-100">
        <h2 class="mb-5">기타</h2>
        <p>평소 IT 개발자가 되는 것 외에도 대부분의 시간을 웨이트 트레이닝을 하며 보냅니다. 어렸을 때부터 방학마다 웨이트를 즐겼으며 현재, 1주일에 4~5번씩 2시간 정도를 보냅니다. 사실 몸매 가꾸는 것을 목적으로 하기 보단, 워낙 식탐이 많기 때문에 칼로리 소모를 위해 하고 있습니다.</p>
        <p class="mb-0">그 외 나머지 시간은 음악, 영화 감상을 하며 보냅니다. 저는 대학교 1~2학년 때 밴드 보컬로 활동한 적이 있고, 집 앞 슈퍼만큼 적은 거리를 다닐 때도 항상 이어폰을 꽂고 음악을 듣습니다. 영화는 마블영화와 같이 공상과학, 액션 등이 결합되어 시각적인 효과가 강한 장르를 좋아합니다.</p>
      </div>
    </section>

    <hr class="m-0">

  </div>

  </body>
</html>
