{% extends 'layout.html' %}

{% block title %}
    <h2>myprofile</h2>
{% endblock %}

{% block content %}
    <section id="about">
        <h3 id="about" class="mb-5">about</h3>
        <div class="w-100">
            <h1 class="mb-0">KeunHyeok
                <span class="text-primary">Lim</span>
            </h1>
            <div class="subheading mb-5">Yatap-dong, Bundang-gu, Seongnam-si · +82-10-9360-6425 ·
                <a href="mailto:name@email.com">gorloom6425@naver.com</a>
            </div>
            <p class="lead mb-5">I am experienced in developing newspaper reader using AR. The goal is to become an expert in the 4th Industrial Revolution, I want to develop unique and convenient service by combining AR and IoT.</p>
        </div>
        <hr class="m-0">
    </section>

    <section class="resume-section" id="experience">
      <div class="w-100">
        <h3 class="mb-5">Experience</h3>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">AR을 이용한 신문</h3>
            <div class="subheading mb-3">졸업 작품 프로젝트</div>
            <p class="lead mb-5">현재 신문은 단편적인 이미지만 제공하여 시각적으로 정보를 얻는데 한계가 있고 지루하기만 할 뿐이다. 이에 따라 이러한 단조로운 이미지들을 AR을 통해 3D오브젝트를 띄우거나 관련된 상세 뉴스영상 등을 제공함으로써 사용자에게 좀 더 명확한 정보와 다양한 견해 및 흥미를 제공하고자 한다.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2017 - November 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">개인 웹페이지</h3>
            <div class="subheading mb-3">개인 프로젝트</div>
            <p class="lead mb-5">개인 역량 향상을 위한 프로젝트이다. 이 프로젝트를 통해서 HTML과 CSS, Python의 프로그래밍 실력을 늘리며, 웹 서버에 대한 이해도를 높이고 경험을 쌓는 것을 목표로 한다. 또한 웹페이지를 통해서 개인 프로필을 정리하며 학습 내용, 개발 일지, 일상 생활 등의 내용을 기록한다.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2019 - ~ing</span>
          </div>
        </div>
      </div>
        <hr>
    </section>

    <section id="education">
      <div class="w-100">
        <h3 class="mb-5">Education</h3>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of ChungBuk</h3>
            <div class="subheading mb-3">A dvisor: Prof. Nam Kim</div>
            <div>Information and Communication Engineering</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - August 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">JinGwang High School</h3>
            <div class="subheading mb-3">Science</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2010 - February 2013</span>
          </div>
        </div>
      </div>
        <hr class="m-0">
    </section>

    <section class="resume-section" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-csharp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
        </ul>
          <div class="subheading mb-3">tools</div>
          <ul class="list-inline dev-icons">
              <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          </ul>
      </div>
{% endblock %}